body {
    background-image: url(../images/ep_naturalblack.png);
    background-size: cover;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
}

.navbar {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.me {
    max-width:30%;
    max-height:30%; 
    float: left;   
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

#headers {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:  #ffffff
}

#damn-line {
    border-width: medium;
}

.mainbox {
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: 1px;
    padding: 15px;
    width: 70%;
    height: 70%;
    align-self: center;
    margin-left: 15%;

}

h1 {
    background-color: #fdfdfd
}

footer {
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 5px solid #4aaaa5;

}